.accounts-container {
    display: flex;
    justify-content: center;
}

.section-title {
    text-align: left;
}

.signup-form {
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    margin: 2em;
    padding: 0 2em 2em 2em;
}

.signup-form input {
    margin: 0.5em;
}

.login-form {
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
    border-radius: 10%;
    margin: 2em;
    padding: 0 2em 2em 2em;
}

.login-form input {
    margin: 0.5em;
}

.submit-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}

.switch-form-btns {
    display: none;
}

@media screen and (max-width: 768px) {
    .login-form, .signup-form {
        display: none;
    }

    .switch-form-btns {
        display: block;
        font-size: 1rem;
    }

    .switch-form-btns a {
        background-color: unset;
        color: #0000EE;
        border: none;
        font-size: 1rem;
        cursor: pointer;
    }

    .switch-form-btns a:hover {
        text-decoration: underline;
    }

    .show {
        display: block;
    }
}